<!DOCTYPE html>
<html>
  <head>
    {% block styles %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% endblock %}
  </head>
  <body style="padding: 5px">

	<nav class="navbar navbar-default" role="navigation">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#" style="background-image:url('https://ws.elance.com/php/files/main/download.php?crypted=Y3R4JTNEcHJvZmlsZV9pbWFnZSUyNmZpZCUzRDEyMjA1Nzk1NyUyNnJpZCUzRC0xJTI2cGlkJTNENzAyMTE4OSUyNnQlM0Qx');background-size: 150px, 50px;width:150px"></a>
	  </div>

	  <div class="collapse navbar-collapse" id="navbar-collapse">
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="#">Services</a></li>
	      <li><a href="#">Solutions</a></li>
	      <li><a href="#">Platrom</a></li>
	    </ul>
	    <form class="navbar-form navbar-right" role="search">
	      <div class="form-group">
		<input type="text" class="form-control" placeholder="Search">
	      </div>
	      <button type="submit" class="btn btn-default">Submit</button>
	    </form>
	  </div>
	</nav>

    <div class="container-fluid">
      <ol class="breadcrumb">
	<li><a href="#">Home</a></li>
	<li class="active">Services</li>
      </ol>
      <div class="jumbotron">
	<h1>Hello, world!</h1>
	<p>Ik Integrity meets the world! Lots of solutions with our experience for your BUSINESS!!!</p>
	<p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
      </div>
       {% block content %}{% endblock %}
    </div>
    {% block javascripts %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
    <!-- data-main attribute tells require.js to load
             js/app.js after require.js loads. -->
    <script type="text/javascript" data-main="/static/js/app" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.min.js"></script>
    {% endblock %}
  </body>
</html>
