<h2>Create Document</h2>

<p data-bind='text: message'></p>

<div class="container">
  <h3>Select Document Type</h3>
  <select data-bind="foreach: documentTypes, event: {change: selectedTypeChanged}">
    <option data-bind="text: $data.description, attr: {value: $data.pk}"></option>
  </select>
</div>
